<div class="add-comment">
  <h4>Добавить комметарий:</h4>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <%= image_tag current_user.avatar.url(:thumb) %>
    <p>
      <%= f.label :Имя %>
      <td><%= current_user.first_name%> </td>
    </p> 

    <div class="form-group">
      <%= f.label :Комментарий %><br>
      <%= f.text_area :body, class: 'form-control' %>
      <%= f.hidden_field :user_id, :value => current_user.id  %>
    </div>
</div> 

<div class="buttons container row"> 
  <div class="actions col-xs-2 btn-save">
    <%= submit_tag 'Cоздать Комментарий', class: 'btn btn-success' %>
  </div>
  <% end %>
  <div class="btn btn-default col-xs-2 col-xs-offset-8 btn-back "><%= link_to 'Назад', articles_path %> </div>
</div>